<ul>
  <li>
    <a href="<%= ui_path(page: 'buttons') %>">buttons</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'cards') %>">cards</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'dialogs') %>">dialogs</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'dropdowns') %>">dropdowns</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'floating_action') %>">floating_action</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'forms') %>">forms</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'lists') %>">lists</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'slider') %>">slider</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'snackbars') %>">snackbars</a>
  </li>
  <li>
    <a href="<%= ui_path(page: 'toolbars') %>">toolbars</a>
  </li>
</ul>